@model Bangazon.ViewComponents.MiniCartViewModel

<article class="minicart">
    @foreach (var item in Model.LineItems)
    {
    <section class="minicart__lineitem">
      <span class="minicart__quantity bold">@item.Units</span>
      <span class="minicart__title">@item.Product.Title</span>
      <span class="minicart__cost">@item.Cost.ToString("C")</span>
    </section>
    }

    <section class="minicart__detail">
        <a asp-controller="Order" asp-action="Index" title="Order" id="nav-shopping-cart">
            View Details
        </a>
    </section>
</article>
