@{
    ViewData["Title"] = "Product Type Listing";
}

<h2>@ViewData["Title"]</h2>

@foreach (var type in (IEnumerable<object>)ViewBag["types"])
{
    @type
    <div class="row top-buffer">
        <div class="col-md-8">@type.TypeName</div>
        <div class="col-md-2">@type.ProductCount</div>
        <div class="col-md-2">
        </div>
    </div>
}
